@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,600);

 .bg-red {
    color: #fff;
    background-color: rgb(204, 0, 51);
  }
  a.bg-red:hover,
  a.bg-red:focus {
    background-color: rgb(185, 2, 48);
  }
  .bg-violet {
    color: #fff;
    background-color: #4E2B6F;
  }
  a.bg-violet:hover,
  a.bg-violet:focus {
    background-color: #4E2B6F;
  }

  /*   === ### ===  Text Size and Color  === ### ===  */
.btn,.dropdown-menu,.form-control,.input-group-addon,.popover,.popover-title,body{font-size:14px}
body{font-family:'Ubuntu', sans-serif;line-height:1.42857143;color:#333;background-color:#FFF}